body {
    background: linear-gradient(
        to right,
        #d53369,
        #cbad6d
    );
}

.calculator-title
{
    text-align: center;
    font-family: 'Indie Flower';
    font-size: 60px;
    color: rgba(255, 255, 255, 0.697);
}
